


---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";


let veer = [];
try {
  veer = await getCollection("veer");
} catch (error) {
  console.error("Error fetching Veer Naris collection:", error);
}
---

<BaseLayout pageTitle="Veer">
  <section class="veer-nari-container">
    {veer.map(({ data }) => (
      <div class="veer-nari-card">
        
        <div class="veer-nari-content">
          <h2><a href={`/veer/${data.slug}`}>{data.name}</a></h2>
          <p class="relation">{data.relation}</p>
          <p class="short-description">{data.shortDescription}</p>
        </div>

       
        <img src={data.image} alt={data.name} class="veer-nari-image" />
      </div>
    ))}
</section>

</BaseLayout>

